<div class='container'>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Watchlist</span>
      <ul class="list-inline" padding="20px">
        <li><%= link_to "Home", lists_path %></li>
        <li><%= link_to "Share", new_list_path, class: "btn btn-secondary" %></li>
      </ul>
  </nav>
</div>
